* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  overflow-x: hidden;
  background-image: url("../media/Fondo/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: center;
  margin: 50px;
}
footer {
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 30px;
  margin: 30px;
  border-radius: 30px;
  height: fit-content;
  gap: 30px;
  text-align: justify;
  font-family: monospace;
  flex-direction: column;
  place-items: center;
  place-content: center;
  opacity: 0.3;
  transition: all 0.3s ease;
}
footer:hover{
  opacity: 1;
}
div {
  flex-basis: auto;
  padding: 30px;
  position: relative;
  width: fit-content;
  transition: all 0.3s ease;
}
div img:first-child {
  width: 200px;
  border-radius: 15px;
  object-fit: cover;
}
div img:last-child {
  display: none;
  opacity: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s ease;
  transform: translateY(5%) translateX(10%);
  right: 0;
}
div:hover {
  transform: perspective(250px) rotateX(10deg) translateZ(0) translateY(-5%);
  transition: 0.3s ease;
}
div::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 200px;
  height: fit-content;
  opacity: 0;
  transition: all 0.3s ease;
  backdrop-filter: blur(1px);
}
div:hover::before {
  opacity: 1;
}
div:hover img:last-child {
  opacity: 1;
  display: block;
  transition: 0.3s ease;
}
/* @media screen and (max-width: 700px) {
  main {
    grid-auto-flow: dense;
  }
} */
